# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Model and ML-related files
*.h5
*.pb
label.txt
