streamlit==1.44.1
opencv-python-headless==4.10.0.75
numpy==1.23.5
python-dotenv==1.0.1
tensorflow==2.14.0
cvzone==1.6.1
mediapipe==0.10.11
SpeechRecognition==3.10.0
gTTS==2.5.1
langchain-groq==0.3.2
langchain-core==0.3.51
setuptools>=65.0.0
