streamlit==1.44.1
opencv-python-headless==4.11.0.86
numpy==1.23.5
python-dotenv==1.1.0
tensorflow==2.19.0
cvzone==1.6.1
mediapipe==0.10.21
SpeechRecognition==3.14.2
gTTS==2.5.4
langchain-groq==0.3.2
langchain-core==0.3.51
